# Slicing Pada Python

adalah memilih data dari kumpulan data. Seringkali ada data atau kolom yang tidak kita butuhkan. Oleh karena itu disinilah fungsi slicing yaitu untuk memotong. Dalam list tanda ":" merupakan fungsi untuk memilih semua index yang ada atau milih semua data. 

Misal kita punya list handphone.

```
hp = ['Samsung','ROG','Xiaomi','Oppo','Vivo','Realme','Poco','iPhone']
```

Jadi jika kita ingin :
* mencetak Samsung, kodenya adalah `hp[0]`
* mencetak Samsung, ROG, kodenya adalah `hp[:2]`
* mencetak ROG sampai Oppo, kodenya adalah `hp[1:4]`

Perlu diperhatikan bahwa slicing dalam python, urutan terakhir tidak dibaca oleh bahasa python itu sendiri. Maka dalam perintah [1:4] kita memberikan perintah slicing mulai index 1 sampai index 4 sebagai batas akhir (di mana index 4 ini tidak termasuk ke dalamnya). Sehingga yang dieksekusi adalah index ke 1 sampai 3.

# **Slicing dalam Dataset**

Kita bisa melakukan slicing di dataset yang kita punya dengan perintah `iloc`. Mari load datasetnya terlebih dahulu :

```
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd 

file_path = r'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
attributes = ['sepal-length', 'sepal-width', 'petal-length',
              'petal-width', 'class']
dataset = pd.read_csv(file_path, names=attributes)
dataset
```

In [10]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd 

file_path = r'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
attributes = ['sepal-length', 'sepal-width', 'petal-length',
              'petal-width', 'class']
dataset = pd.read_csv(file_path, names=attributes)
dataset

     sepal-length  sepal-width  petal-length  petal-width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

## **1. Mencetak semua data**
`dataset[:]`

In [11]:
dataset[:]

     sepal-length  sepal-width  petal-length  petal-width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

## **2. **

`dataset.iloc[1,2]`

In [13]:
dataset.iloc[1:2]

   sepal-length  sepal-width  petal-length  petal-width        class
1           4.9          3.0           1.4          0.2  Iris-setosa